{% extends 'BoxenmietenAppBundle::layout.html.twig' %}

{% block title %}Komponenten{{parent()}}{% endblock%}

{% block body %}
    <h1 class="aligncenter">Artikel</h1>
    <p class="description aligncenter">Alle unsere Artikel in einer Übersicht.<br />
    Auf Anfrage können diese einzeln gemietet werden.</p>
<br />

<!-- Begin Portfolio -->
<div class="portfolio-wrapper">
    <ul class="filter">
        <li><a class="active" href="#" data-filter="*">Alle</a></li>
        <li><a href="#" data-filter=".boxe">Boxen</a></li>
        <li><a href="#" data-filter=".stand">Ständer</a></li>
        <li><a href="#" data-filter=".cable">Kabel</a></li>
        <li><a href="#" data-filter=".mixer">Mixer</a></li>
        <li><a href="#" data-filter=".mic">Mikrofon</a></li>
    </ul>
    <ul class="items col4">
        {% for article in articles %}
        <li class="item {{ article.discr }} ">
            <a href="{{ path("boxenmieten_app_article_show", {"id" : article.id, "slug" : article.slug}) }}">
                <div class="overlay">
                    <h3>{{ article.model }}</h3>
                    <span class="meta">{{ article.make }}</span>
                </div>
                <img src="{{ article.image.webPath | imagine_filter('filter_portfolio_picker') }}" alt="{{ article.image.title }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="clear"></div>
{% endblock body %}