{% trans_default_domain 'FOSUserBundle' %}

<div class="form-container">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="forms">
        <fieldset>
            {% if form.vars.errors|length %}
                <div class="warning-box">
                {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="one-half last">
                {{ form_widget(form.email, {'attr' : {'class' : 'text-input', 'placeholder' : 'Mail'}}) }}
            </div>
            <div class="clear" ></div>
            {% if form.email.vars.errors|length %}
                <div class="warning-box">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
            <br />
            <div class="one-fourth last">
                {{ form_widget(form.username, {'attr' : {'class' : 'text-input', 'placeholder' : 'Benutzername'}}) }}
            </div>
            <div class="clear" ></div>
            {% if form.username.vars.errors|length %}
                <div class="warning-box">
                    {{ form_errors(form.username) }}
                </div>
            {% endif %}
            <br />
            <div class="one-fourth">
                {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'text-input', 'placeholder' : 'Passwort'}}) }}
            </div>
            <div class="one-fourth last">
                {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'text-input', 'placeholder' : 'Passwort (Bestätigung)'}}) }}
            </div>
            <div class="clear" ></div>
            <div class="one-half last">
                {% if form.plainPassword.first.vars.errors|length %}
                    <div class="warning-box">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                {% endif %}
                {% if form.plainPassword.second.vars.errors|length %}
                    <div class="warning-box">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                {% endif %}
            </div>
            <div class="clear" ></div>
            {{ form_rest(form) }}
            <hr />
            <div class="one-sixth last">
                <input type="submit" class="btn-submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            <div class="clear"></div>
        </fieldset>
    </form>
</div>
