{% trans_default_domain 'FOSUserBundle' %}

<h1>Registration</h1>
<p class="description">Es kann sein, dass die Bestätigungs-Mail in deinem Spam landet :/</p>

{{ form_start(form, {'action' : path('fos_user_registration_register')}) }}
    {% if form.vars.errors|length %}
        <div class="warning-box">
        {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="one-half last">
        {{ form_row(form.email) }}
    </div>
    <div class="clear"></div>
    <div class="one-fourth last">
        {{ form_row(form.username) }}
    </div>
    <div class="clear"></div>
    <div class="one-fourth">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="one-fourth last">
        {{ form_row(form.plainPassword.second) }}
    </div>
    <div class="clear"></div>
    <hr />
    <div>
        <div class="alignleft">
            <input class="btn-submit green" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        <div class="clear"></div>
    </div>
{{ form_end(form) }}
