{% trans_default_domain 'FOSUserBundle' %}

<h1>{{ user.username }}&nbsp;<a href="{{ path('fos_user_profile_edit') }}">Profil bearbeiten</a></h1>

<h2>Meine DJ's</h2>

{% if user.djs is empty %}
    <p>Du hast noch keinen DJ erstellt!</p>
{% else %}
    <table class="datatable">
        {% for dj in user.djs %}
            <tr>
                <td><img alt="{{ dj.headshot.title }}" src="{{ dj.headshot.webPath | imagine_filter('filter_thumbnail', {'thumbnail' : {'size' : [50, 50]} }) }}"</td>
                <td><a href="{{ path('pa_logic_dj_show', {'id' : dj.id}) }}">{{ dj.name }}</a></td>
                <td><a href="{{ path('pa_logic_dj_edit', {'id' : dj.id}) }}">Bearbeiten</a></td>
            </tr>
        {% else %}
            <p>Du hast noch keinen DJ erstellt!</p>
        {% endfor %}
    </table>
{% endif %}
<a class="button" href="{{ path('pa_logic_dj_new') }}">DJ beantragen</a>
