{% trans_default_domain 'FOSUserBundle' %}

<h1>{{ user.username }}&nbsp;<a href="{{ path('fos_user_profile_edit') }}">Profil bearbeiten</a></h1>

<hr />

<h2>Meine Bilder</h2>
{% if user.images is empty %}
    <p>Du hast noch keine Bilder hochgeladen.</p>
{% else %}
    {% for image in user.images %}
        {% if loop.index0 < 5 %}
            <img class="alignleft" alt="{{ image.title }}" src="{{ image.webPath | imagine_filter('filter_mini_thumbnail') }}" />
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
    <br />
{% endif %}
<a class="button alignleft" href="{{ path('pa_logic_image') }}">Übersicht</a>
<a class="button alignleft" href="{{ path('pa_logic_image_new') }}">Hochladen</a>
<div class="clear"></div>

<hr />

<h2>Meine DJ's</h2>

{% if user.djs is empty %}
    {% if user.images is empty %}
        <p>Lade einige Bilder hoch, damit du deinen ersten DJ erstellen kannst.</p>
    {% else %}
        <p>Beantrage jetzt einen DJ, der dich repräsentiert!</p>
    {% endif %}
{% else %}
    <table class="datatable">
        {% for dj in user.djs %}
            <tr>
                <td><img alt="{{ dj.headshot.title }}" src="{{ dj.headshot.webPath | imagine_filter('filter_mini_thumbnail') }}"</td>
                <td><a href="{{ path('pa_logic_dj_show', {'id' : dj.id, 'slug' : dj.slug}) }}">{{ dj.name }}</a></td>
                <td><a class="button" href="{{ path('pa_logic_dj_edit', {'id' : dj.id}) }}">Bearbeiten</a></td>
                <td>{{ form(delete_forms[loop.index0]) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if not user.images is empty %}
    <a class="button" href="{{ path('pa_logic_dj_new') }}">DJ beantragen</a>
{% endif %}
