{% extends 'DjCrowdAppBundle::layout.html.twig' %}

{% block title %}Engagiere einen DJ{{ parent() }}{% endblock%}

{% block banner %}
    <div class="bannercontainer">
        <div class="banner">
             <ul>
                <li data-transition="fade">
                    {% image '@PaLogicAppBundle/Resources/public/images/art/slider-transparent.png' output='generated/images/banner/slider-transparent.jpg'%}
                        <img src="{{ asset_url }}" alt="" style="background-color:#2a2a2a" />
                    {% endimage %}
                    <div class="caption lfb" data-x="555" data-y="-200" data-speed="900" data-start="100" data-easing="easeOutSine">
                        {% image '@DjCrowdAppBundle/Resources/public/images/banner/live-dj.jpg' output='generated/images/banner/live-dj.jpg'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfb" data-x="-554" data-y="-200" data-speed="900" data-start="100" data-easing="easeOutSine">
                        {% image '@DjCrowdAppBundle/Resources/public/images/banner/live-dj2.jpg' output='generated/images/banner/live-dj2.jpg'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption sfl huge" data-x="430" data-y="60" data-speed="300" data-start="100" data-easing="easeOutExpo"><strong><span class="colored">DJ</span></strong></div>
                    <div class="caption sft huge" data-x="505" data-y="60" data-speed="300" data-start="800" data-easing="easeOutExpo"><strong>Crowd</strong></div>
                    <div class="caption sfl big" data-x="center" data-y="156" data-speed="250" data-start="1600" data-easing="easeOutExpo">Finde den richtigen DJ</div>
                    <div class="caption sfr big" data-x="center" data-y="215" data-speed="250" data-start="2800" data-easing="easeOutExpo">...für deine <strong>Party</strong></div>
                    <div class="caption sfr big" data-x="center" data-y="314" data-speed="250" data-start="0" data-easing="easeOutExpo"><span style="font-size: 0.7em;" >Die Seite ist <strong>noch im Aufbau</strong>,</a></span></div>
                    <div class="caption sfr big" data-x="center" data-y="363" data-speed="250" data-start="0" data-easing="easeOutExpo"><span style="font-size: 0.7em;" >bei Fragen: <a href="mailto:info@boxenmieten.ch">info@boxenmieten.ch</a></span></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
{% endblock %}
    
{% block body %}
    <h1 class="aligncenter">DJ's</h1>
    <p class="description aligncenter">Sortiere alle DJ's nach Genre</p>
    <br />
      
    <div class="portfolio-wrapper">
        <ul class="filter">
            <li><a class="active" href="#" data-filter="*">Alle</a></li>
            {% for genre in genres %}
                <li><a href="#" data-filter=".{{ genre.name }}">{{ genre.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="items col4">
            {% for entity in djs %}
                
                <!-- Begin 1st Portfolio Item -->
                <li class="item {% for genre in entity.genres %}{{ genre.name }} {% endfor %}" >
                    <a href="{{ path('pa_logic_dj_show', { 'id': entity.id, 'slug' : entity.slug }) }}" >
                        <div class="overlay">
                            <h3>{{ entity.name }}</h3>
                            <span class="meta">{% for genre in entity.genres %}{% if not loop.first %}, {% endif %}{{ genre.name }} {% endfor %}</span> 
                        </div>
                        <img src="{{ entity.headshot.webPath | imagine_filter('filter_thumbnail') }}" alt="{{ entity.headshot.title }}" />
                    </a>
                </li>
                <!-- End 1st Portfolio Item -->
                
            {% endfor %}
        </ul>
    </div>

    <div class="clear"></div>
{% endblock %}