{% extends 'DjCrowdAppBundle::layout.html.twig' %}

{% block title %}Engagiere einen DJ{{ parent() }}{% endblock%}

{% block banner %}
    <div class="bannercontainer">
        <div class="banner">
             <ul>
                <li data-transition="fade"> <img src="{{ asset('webpaint/style/images/art/slider-transparent.png')}}" alt="" style="background-color:#2a2a2a" />
                    <div class="caption lfb" data-x="555" data-y="-200" data-speed="900" data-start="100" data-easing="easeOutSine">
                        {% image '@DjCrowdAppBundle/Resources/public/images/banner/live-dj.jpg' output='generated/images/banner/live-dj.jpg'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfb" data-x="-554" data-y="-200" data-speed="900" data-start="100" data-easing="easeOutSine">
                        {% image '@DjCrowdAppBundle/Resources/public/images/banner/live-dj2.jpg' output='generated/images/banner/live-dj2.jpg'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption sfl huge" data-x="430" data-y="60" data-speed="300" data-start="100" data-easing="easeOutExpo"><strong><span class="colored">DJ</span></strong></div>
                    <div class="caption sft huge" data-x="505" data-y="60" data-speed="300" data-start="800" data-easing="easeOutExpo"><strong>Crowd</strong></div>
                    <div class="caption sfl big" data-x="center" data-y="156" data-speed="250" data-start="1600" data-easing="easeOutExpo">Finde den richtigen DJ</div>
                    <div class="caption sfr big" data-x="center" data-y="215" data-speed="250" data-start="2800" data-easing="easeOutExpo">...für deine <strong>Party</strong></div>
                    <div class="caption sfr big" data-x="center" data-y="314" data-speed="250" data-start="0" data-easing="easeOutExpo"><span style="font-size: 20px;" >Die Seite ist <strong>noch im Aufbau</strong>,</a></span></div>
                    <div class="caption sfr big" data-x="center" data-y="363" data-speed="250" data-start="0" data-easing="easeOutExpo"><span style="font-size: 20px;" >bei Fragen: <a href="mailto:info@boxenmieten.ch">info@boxenmieten.ch</a></span></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
{% endblock %}

{% block top %}
    <div class="dark-wrapper">
        <div class="inner">
            <div class="box-wrapper">
                <div class="one-fourth box"> <i class="icon-thumbs-up special"></i>
                    <h3>Hochwertig</h3>
                    <p>Die Lautsprecher sind ausschliesslich von Mackie.<br />
                        Sie zeichnen sich durch hohe Robustheit, Leistungsfähigkeit und Klangqualität aus.</p>
                </div>
                <div class="one-fourth box"> <i class="icon-money special"></i>
                    <h3>Günstig</h3>
                    <p>Unsere Sets kannst du vergleichsweise sehr günstig mieten.<br />
                        Vermietet werden sie pro Woche. Individuelle Angebote können abgesprochen werden.</p>
                </div>
                <div class="one-fourth box"> <i class="icon-box special"></i>
                    <h3>Komplett</h3>
                    <p>Zu den Boxen vermieten wir auch die benötigten Kabel, sowie Boxenständer und ein Mischpult.<br />
                        Damit kannst du deine Party direkt starten und brauchst dich nicht um weitere Komponenten zu kümmern.</p>
                </div>
                <div class="one-fourth box last"> <i class="icon-location special"></i>
                    <h3>in Bern</h3>
                    <p>Die Boxen können direkt in Bern abgeholt werden.<br />
                        Auf Anfrage werden sie geliefert.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block body %}
    {{ parent() }}
    <h1 class="aligncenter">Eine Übersicht</h1>
    <p class="description aligncenter">Weitere Details findest du <a href="{{ path('boxenmieten_app_sets') }}">hier</a>.</p>
    <p class="description aligncenter">Bei Fragen beraten wir dich gerne: <a href="{{ path('boxenmieten_app_contact') }}">Kontakt</a></p>
    <br />

    <!-- Begin Pricing Table -->
    <div class="pricing four">
        <div class="plan p1">
            <h3>PA Set 1</h3>
            <h4><span class="amount"><span>CHF</span>173.-</span><span class="interval">7 Tage</span></h4>
            <div class="features">
                <ul>
                    <li>2x Mackie SRM450 V2</li>
                    <li>2x Boxenständer</li>
                    <li>2x 10m XLR-Kabel</li>
                    <li>2x 3m XLR/Jack</li>
                    <li>Behringer Xenyx 1002 FX</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="select">
                <div> <a href="{{ path('boxenmieten_app_sets') }}" class="button black"><span>Infos</span></a> </div>
            </div>
        </div>
        <div class="plan p2">
            <h3>PA Set 2</h3>
            <h4><span class="amount"><span>CHF</span>242.-</span><span class="interval">7 Tage</span></h4>
            <div class="features">
                <ul>
                    <li>2x Mackie SRM450 V2</li>
                    <li>Mackie SRM1801</li>
                    <li>2x Boxenständer</li>
                    <li>4x 10m XLR-Kabel</li>
                    <li>2x 3m XLR/Jack</li>
                    <li>Behringer Xenyx 1002 FX</li>
                </ul>
            </div>
            <div class="select">
                <div> <a href="{{ path('boxenmieten_app_sets') }}" class="button black"><span>Infos</span></a> </div>
            </div>
        </div>
        <div class="plan p3">
            <h3>PA Set 3</h3>
            <h4><span class="amount"><span>CHF</span>378.-</span><span class="interval">7 Tage</span></h4>
            <div class="features">
                <ul>
                    <li>2x Mackie SRM450 V2</li>
                    <li>2x Mackie SRM1801</li>
                    <li>2x Boxenständer</li>
                    <li>4x 10m XLR-Kabel</li>
                    <li>Mackie ProFX 8</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="select">
                <div> <a href="{{ path('boxenmieten_app_sets') }}" class="button black"><span>Infos</span></a> </div>
            </div>
        </div>
        <div class="plan p4">
            <h3>PA Set 4</h3>
            <h4><span class="amount"><span>CHF</span>502.-</span><span class="interval">7 Tage</span></h4>
            <div class="features">
                <ul>
                    <li>4x Mackie SRM450 V2</li>
                    <li>2x Mackie SRM1801</li>
                    <li>4x Boxenständer</li>
                    <li>8x 10m XLR-Kabel</li>
                    <li>Mackie ProFX 8</li>
                    <li>-</li>
                </ul>
            </div>
            <div class="select">
                <div> <a href="{{ path('boxenmieten_app_sets') }}" class="button black"><span>Infos</span></a> </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- End Pricing Table -->
{% endblock %}