{% extends 'PaLogic\BundleAppBundle::layout.html.twig' %}

{% block description %}{{ set.name }}: {{ set.summary }}{% endblock %}

{% block title %}{{ set.name }}{% endblock%}

{% block body %}
<div class="portfolio-content">
    <div class="portfolio-bannercontainer">
        <div class="portfolio-banner">
            <ul>
                {% for image in set.images %}
                <li data-transition="slidehorizontal"><img src="{{ image.webPath }}" alt="{{ image.title }}" /></li>
                {% endfor %}
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <section class="content">
        <h2>{{ set.name }}</h2>
        <h3>{{ set.weekPrice }} CHF/Woche</h3>
        {{ set.description|raw }}
    </section>
    <div class="item-details">
        <p>Sieh dir die Komponenten hier an:</p>
        <ul>
            {% for setComponent in set.components %}
            <li>{{ setComponent.num }} x <a href="{{ path("PaLogic\Bundle_app_component_show", {"id" : setComponent.component.id, "slug" : setComponent.component.slug}) }}" >{{ setComponent.component.make }}, {{ setComponent.component.model }}</a></li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
</div>
{% endblock body %}