{% extends 'PaLogicAppBundle::layout.html.twig' %}

{% block title %}{{ image.title }}{{parent()}}{% endblock title %}

{% block body %}
    <h1 class="aligncenter">Bild: {{ image.title }}</h1>
    <p class="description aligncenter">{{ image.description }}</p>
    <img class="aligncenter" src="{{ image.webPath }}" alt="{{ image.title }}" title="{{ image.title }}" />
{% endblock body %}