{% extends 'BoxenmietenAppBundle::layout.html.twig' %}

{% block title %}Kontakt{{parent()}}{% endblock%}

{% block body %}
    <h2 class="aligncenter">Kontakt</h2>
    <p class="description aligncenter">Gerne beraten wir dich! Bei Fragen schreib uns doch...</p>
    <br />
    <!-- Begin Content -->
    <section class="content">
      <!-- Begin Form -->
      <div class="form-container">
          {% for flashMessage in app.session.flashbag.get('question-notice') %}
              <div class="response">
                  {{ flashMessage }}
              </div>
          {% endfor %}
          <form class="forms" action="{{ path('boxenmieten_app_contact') }}" method="post" {{ form_enctype(form) }}>
            {% if not form.vars.valid %}
                {{ form_errors(form) }}
                {{ form_errors(form.name) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.tel) }}
                {{ form_errors(form.body) }}
            {% endif %}
              <fieldset>
                  <ol>
                      <li class="form-row text-input-row name-field">
                          {{ form_widget(form.name, {'attr' : {'class' : 'text-input', 'placeholder' : 'Name (Benötigt)'}}) }}
                      </li>
                      <li class="form-row text-input-row email-field">
                          {{ form_widget(form.email, {'attr' : {'class' : 'text-input email', 'placeholder' : 'E-Mail (Benötigt)'}}) }}
                      </li>
                      <li class="form-row text-input-row tel-field">
                          {{ form_widget(form.tel, {'attr' : {'class' : 'text-input', 'placeholder' : 'Telefon'}}) }}
                      </li>
                      <li class="form-row text-area-row">
                          {{ form_widget(form.body, {'attr' : {'class' : 'text-area'}}) }}
                      </li>
                      <li class="button-row">
                          {{ form_widget(form.send, {'label' : 'senden', 'attr' : {'class' : 'btn-submit'}}) }}
                      </li>
                  </ol>
                  {{ form_rest(form) }}
              </fieldset>
          </form>
      </div>
      <!-- End Form --> 
    </section>
    <aside class="sidebar">
      <div class="sidebox">
        <h3>Addresse</h3>
        <i class="icon-location contact"></i>3053 Deisswil b.M.<br />
        <i class="icon-phone contact"></i>+41 79 266 07 74 <br />
        <i class="icon-mail contact"></i> <a href="mailto:info@boxenmieten.ch">info@boxenmieten.ch</a> </div>
    </aside>
    <div class="clear"></div>
{% endblock %}