{% extends 'BoxenmietenAppBundle::layout.html.twig' %}

{% block title %}Musikanlagen günstig mieten in Bern{{parent()}}{% endblock%}

{% block banner %}
    <div class="bannercontainer">
        <div class="banner">
             <ul>
                 <li data-transition="fade">
                     {% image '@PaLogicAppBundle/Resources/public/images/art/slider-transparent.png' output='generated/images/banner/slider-transparent.jpg'%}
                     <img src="{{ asset_url }}" alt="" style="background-color:#2a2a2a" />
                     {% endimage %}
                     <div class="caption lfb" data-x="0" data-y="-50" data-speed="900" data-start="100" data-easing="easeOutSine">
                         {% image '@BoxenmietenAppBundle/Resources/public/images/banner/iconMedium.png' output='generated/images/banner/iconMedium.png'%}
                         <img src="{{ asset_url }}" alt="" />
                         {% endimage %}
                     </div>
                     <div class="caption lfb" data-x="510" data-y="180" data-speed="900" data-start="100" data-easing="easeOutSine">
                         {% image '@BoxenmietenAppBundle/Resources/public/images/banner/SRM450.png' output='generated/images/banner/SRM450.png'%}
                         <img src="{{ asset_url }}" alt="" />
                         {% endimage %}
                     </div>
                     <div class="caption lfb" data-x="730" data-y="180" data-speed="900" data-start="100" data-easing="easeOutSine">
                         {% image '@BoxenmietenAppBundle/Resources/public/images/banner/SRM1801.png' output='generated/images/banner/SRM1801.png'%}
                         <img src="{{ asset_url }}" alt="" />
                         {% endimage %}
                     </div>
                     <div class="caption sfl huge" data-x="526" data-y="60" data-speed="300" data-start="100" data-easing="easeOutExpo"><strong><span class="colored">Musik</span></strong></div>
                     <div class="caption sft huge" data-x="697" data-y="60" data-speed="300" data-start="800" data-easing="easeOutExpo"><strong>anlagen</strong></div>
                     <div class="caption sfl big" data-x="610" data-y="120" data-speed="300" data-start="1200" data-easing="easeOutExpo">für jedermann</div>
                </li>
                <li data-transition="fade">
                    {% image '@PaLogicAppBundle/Resources/public/images/art/slider-transparent.png' output='generated/images/banner/slider-transparent.jpg'%}
                        <img src="{{ asset_url }}" alt="" style="background-color:#2a2a2a" />
                    {% endimage %}
                    <div class="caption lfb" data-x="290" data-y="155" data-speed="900" data-start="100" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/ProFX12.png' output='generated/images/banner/ProFX12.png'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lft" data-x="30" data-y="155" data-speed="900" data-start="900" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/MG06.png' output='generated/images/banner/MG06.png'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfr" data-x="550" data-y="145" data-speed="900" data-start="1200" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/DJSet350.png' output='generated/images/banner/DJSet350.png'%}
                            <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfr" data-x="610" data-y="20" data-speed="900" data-start="1200" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/565SD.png' output='generated/images/banner/565SD.png'%}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfr" data-x="710" data-y="20" data-speed="900" data-start="1200" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/SM58.png' output='generated/images/banner/SM58.png'%}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption lfr" data-x="810" data-y="20" data-speed="900" data-start="1200" data-easing="easeOutSine">
                        {% image '@BoxenmietenAppBundle/Resources/public/images/banner/BLX4.png' output='generated/images/banner/BLX4.png'%}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                    </div>
                    <div class="caption sfl big" data-x="50" data-y="50" data-speed="900" data-start="1500" data-easing="easeOutExpo">nicht nur <span class="colored">Boxen</span> ...</div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
{% endblock %}

{% block top %}
    <div class="dark-wrapper">
        <div class="inner">
            <div class="box-wrapper">
                <div class="one-fourth box"> <i class="icon-thumbs-up special"></i>
                    <h3>Hochwertig</h3>
                    <p>Die Lautsprecher sind ausschliesslich von Mackie.<br />
                        Sie zeichnen sich durch hohe Robustheit, Leistungsfähigkeit und Klangqualität aus.</p>
                </div>
                <div class="one-fourth box"> <i class="icon-money special"></i>
                    <h3>Günstig</h3>
                    <p>Unsere Sets kannst du vergleichsweise sehr günstig mieten.<br />
                        Vermietet werden sie pro Woche. Individuelle Angebote können abgesprochen werden.</p>
                </div>
                <div class="one-fourth box"> <i class="icon-box special"></i>
                    <h3>Komplett</h3>
                    <p>Zu den Boxen vermieten wir auch die benötigten Kabel, sowie Boxenständer und ein Mischpult.<br />
                        Damit kannst du deine Party direkt starten und brauchst dich nicht um weitere Komponenten zu kümmern.</p>
                </div>
                <div class="one-fourth box last"> <i class="icon-location special"></i>
                    <h3>in Bern</h3>
                    <p>Die Boxen können direkt in Bern abgeholt werden.<br />
                        Auf Anfrage werden sie geliefert.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="aligncenter">Eine Übersicht</h1>
    <p class="description aligncenter">Alle Angebote findest du <a href="{{ path('boxenmieten_app_set_categories') }}">hier</a></p>
    <p class="description aligncenter">Bei Fragen beraten wir dich gerne: <a href="{{ path('boxenmieten_app_contact') }}">Kontakt</a></p>
    <br />

    <div class="grid-wrapper">
        <div class="blog-grid">
            {% for set in sets %}
                {% if loop.index0 < 3 %}
                    <div class="post">
                        <div class="overlay">
                            <a href="{{ path("boxenmieten_app_set_show", {"id" : set.id, "slug" : set.slug}) }}" >
                                <img src="{{ set.previewImage.webPath | imagine_filter('filter_preview_big') }}"
                                     alt="{{ set.previewImage.title }}" />
                            </a>
                        </div>
                        <div class="info">
                            <h2 class="post-title">
                                <a href="{{ path("boxenmieten_app_set_show", {"id" : set.id, "slug" : set.slug}) }}" >
                                    {{ set.name }}
                                </a>
                            </h2>
                            <div class="meta">
                                <span>{{ set.weekprice }} CHF/Woche</span>
                            </div>
                        </div>
                        <p>{{ set.summary }}</p>
                        <a href="{{ path("boxenmieten_app_set_show", {"id" : set.id, "slug" : set.slug}) }}" >
                            Details →
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}