{% extends 'BoxenmietenAppBundle::layout.html.twig' %}

{% block title %}Referenzen{{parent()}}{% endblock %}

{% block body %}
    <div class="one-third">
        <img alt="Logo Hirslanden Bern" src="{{ asset("bundles/boxenmietenapp/images/references/hirslanden_bern.jpg") | imagine_filter('filter_reference_logo') }}" />
    </div>
    <div class="one-third">
        <img alt="Logo Universität Bern Oeschger Zentrum" src="{{ asset("bundles/boxenmietenapp/images/references/universitaet_bern_oeschger_zentrum.jpg") | imagine_filter('filter_reference_logo') }}" />
    </div>
    <div class="one-third last">
        <img alt="Logo STBern" src="{{ asset("bundles/boxenmietenapp/images/references/stbern.jpg") | imagine_filter('filter_reference_logo') }}" />
    </div>
    <div class="clear"></div>
    <div class="one-third last">
        <img alt="Logo Holiday Inn Bern Westside" src="{{ asset("bundles/boxenmietenapp/images/references/holiday_inn_bern_westside.jpg") | imagine_filter('filter_reference_logo') }}" />
    </div>
{% endblock body %}
