{% extends 'BoxenmietenAppBundle::layout.html.twig' %}

{% block  description %}{{ component.name }}{{parent()}}{% endblock %}

{% block title %}{{ component.name }}{% endblock%}

{% block body %}
<div class="portfolio-content">
    <div class="one-fourth">
        <img src="{{ component.image.webPath | imagine_filter('filter_component_show') }}" alt="{{ component.image.title }}" />
    </div>
    <div class="three-fourth last">
        <h2>{{ component.name }}</h2>
        {{ component.description|raw }}
    </div>
    <div class="clear"></div>
    <hr />
    <h3 class="aligncenter">Details</h3>
    <p class="description aligncenter">Folgende Artikel können eingesetzt werden:</p>
    <br />
    {% for article in component.possibleArticles %}
        <div class="one-fourth {% if loop.last %}last{% endif %}" >
            <h4>
                <a href="{{ path("boxenmieten_app_article_show", {"id" : article.id, "slug" : article.slug}) }}">{{ article.make }}, {{ article.model }}</a>
            </h4>
            <a href="{{ path("boxenmieten_app_article_show", {"id" : article.id, "slug" : article.slug}) }}">
                <img src="{{ article.image.webPath | imagine_filter('filter_possible_article') }}" alt="{{ article.image.title }}" />
            </a>
        </div>
    {% endfor %}
</div>
{% endblock body %}