{% extends 'PaLogicAppBundle::layout.html.twig' %}

{% block title %} - Boxenmieten{% endblock %}

{% block description %}Miete eine Musikanlage für deinen individuellen Anlass (Party, Theater, Hochzeit...). Die Lautsprecher kann direkt in Bern ausgeliehen werden.{% endblock %}

{% block siteswitch %}{% endblock %}

{% block blog_title %}
    <a href="{{ path('boxenmieten_app_homepage') }}">
        {% image '@BoxenmietenAppBundle/Resources/public/images/webLogoSmall.jpg' output='generated/images/webLogoSmall.jpg'%}
            <img src="{{ asset_url }}" alt="Logo von Boxenmieten" width="200"/>
        {% endimage %}
    </a>
{% endblock %}

{% block sidekicks %}{% endblock %}

{% block navigation %}
    {{ knp_menu_render('bmMain', {'depth': 2, 'currentAsLink': true, 'currentClass' : 'active'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        filter='cssrewrite'
        output='generated/style/bmStylesheets.css'
        '@PaLogicAppBundle/Resources/public/css/color/bmgreen.css' %}
        <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}