{% extends 'PaLogicAppBundle::layout.html.twig' %}

{% block title %} - Boxenmieten{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="msapplication-TileImage" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-144x144.png') }}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-navbutton-color" content="#ffffff"/>
    <meta name="application-name" content="Boxenmieten"/>
    <meta name="msapplication-tooltip" content="Boxenmieten"/>
    <meta name="apple-mobile-web-app-title" content="Boxenmieten"/>
    <meta name="msapplication-square70x70logo" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-70x70.png') }}"/>
    <meta name="msapplication-square144x144logo" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-144x144.png') }}"/>
    <meta name="msapplication-square150x150logo" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-150x150.png') }}"/>
    <meta name="msapplication-wide310x150logo" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-310x150.png') }}"/>
    <meta name="msapplication-square310x310logo" content="{{ asset('bundles/boxenmietenapp/images/icons/win8-tile-310x310.png') }}"/>
{% endblock meta %}

{% block links %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon.ico') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon.ico') }}"/>
    <link rel="icon" type="image/gif" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon.gif') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-57x57.png') }}" sizes="57x57"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-60x60.png') }}" sizes="60x60"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-72x72.png') }}" sizes="72x72"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-76x76.png') }}" sizes="76x76"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-114x114.png') }}" sizes="114x114"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-120x120.png') }}" sizes="120x120"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-128x128.png') }}" sizes="128x128"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-144x144.png') }}" sizes="144x144"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-152x152.png') }}" sizes="152x152"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-180x180.png') }}" sizes="180x180"/>
    <link rel="apple-touch-icon" href="{{ asset('bundles/boxenmietenapp/images/icons/apple-touch-icon-precomposed.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-160x160.png') }}" sizes="160x160"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-192x192.png') }}" sizes="192x192"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/boxenmietenapp/images/icons/favicon-196x196.png') }}" sizes="196x196') }}"/>
{% endblock links %}

{% block description %}Miete eine Musikanlage für deinen individuellen Anlass (Party, Theater, Hochzeit...). Die Lautsprecher können direkt in Bern, Zürich und Luzern geliehen werden.{% endblock %}

{% block siteswitch %}{% endblock %}

{% block blog_title %}
    <a href="{{ path('boxenmieten_app_homepage') }}">
        {% image '@BoxenmietenAppBundle/Resources/public/images/webLogoSmall.jpg' output='generated/images/webLogoSmall.jpg'%}
            <img src="{{ asset_url }}" alt="Logo von Boxenmieten" width="200"/>
        {% endimage %}
    </a>
{% endblock %}

{% block sidekicks %}{% endblock %}

{% block navigation %}
    {{ knp_menu_render('bmMain', {'depth': 2, 'currentAsLink': true, 'currentClass' : 'active'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        filter='cssrewrite'
        output='generated/style/bmStylesheets.css'
        '@PaLogicAppBundle/Resources/public/css/color/bmgreen.css' %}
        <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}